.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, 282px);
  gap: 20px 17px;
  padding: 0;
  max-width: 880px;
  margin: 0 auto;
  padding-top: 50px;
  justify-content: center;
}

.element {
  width: 282px;
  height: 361px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

.element__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
}

.element__like-button {
  background: url("../images/like.png") center no-repeat;
  color: white;
  padding-right: 30px;
  width: 21px;
  height: 19px;
  border: none;
  background-size: contain;
  padding: 0;
}

.element__like-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.element__like-button_active {
  background: url("../images/active-like.png") center no-repeat;
}

.element__trash-button {
  background: url("../images/Trash.png") center no-repeat;
  width: 18px;
  height: 19.3px;
  position: absolute;
  top: 18px;
  right: 15px;
  border: none;
}

.element__trash-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.element__image {
  max-width: 100%;
  height: 282px;
  display: block;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.element__text {
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  padding-left: 21px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.element__rectangle {
  border-radius: 0 0 10px 10px;
}

@media (max-width: 880px) {
  .elements {
    width: 100%;
  }

  .element__rectangle {
    width: 100%;
  }

  .element__image {
    width: 100%;
  }
}

@media (max-width: 320px) {
  .elements {
    width: 100%;
    padding: 0 19px;
    box-sizing: border-box;
  }
}
