.elements {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 17px;
  padding: 0;
  max-width: 880px;
  margin: 0 auto;
  padding-top: 50px;
}

.element {
  width: 282px;
  height: 361px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #fff;
  background-color: transparent;
}

.element__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.element__group-vector {
  color: white;
  padding-right: 18px;
  width: 21px;
  height: 19px;
  border: 1.5px solid;
}

.element__image {
  max-width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}

.element__text {
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  padding-left: 21px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.element__rectangle {
  background-color: white;
  border-radius: 0 0 10px 10px;
}

@media (max-width: 320px) {
  .elements {
    width: 100%;
    padding: 0 19px;
    box-sizing: border-box;
    justify-content: center;
  }
}
