.footer {
  color: #545454;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  padding: 67px 60px;
}

@media (max-width: 320px) {
  .footer {
    max-width: 880px;
    margin: 0 auto;
  }
}

@media (max-width: 320px) {
  .footer {
    font-size: 14px;
    padding: 50px 19px 36px 19px;
  }
}
