.edit__form {
}

.form__close-icon {
  width: 40px;
  height: 40px;
}

.form {
  background-color: white;
  width: 430px;
  height: 330px;
  border-radius: 10px;
}

.form__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  padding: 34px 64px 54px 36px;
  margin: 0;
}

.form__field {
  /* campo (wrapper do input) */
}

.form__input {
  border: none;
  margin: 0 36px 13px 36px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}

.field__line {
  margin: 0 36px 29px 36px;
  width: 358px;
}

.form__submit-button {
  width: 358px;
  height: 50px;
  background-color: #000000;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  padding: 0;
  margin: 19px 36px 36px 36px;
}

@media (max-width: 320px) {
  .edit__form {
    max-width: 320px;
  }
  .form {
    width: 282px;
    height: 322px;
  }

  .form__title {
    font-size: 18px;
    padding: 25px 22px 76px 22px;
  }

  .field__line {
    width: 238px;
    margin: 9px 22px 30px 22px;
  }

  .form__submit-button {
    width: 238px;
    height: 46px;
    margin: 0 22px 25px 22px;
  }
}
