.header {
  max-width: 880px;
  padding: 45px 0;
  margin: 0 auto;
}

.header__vector {
  width: 173px;
  height: 33px;
}

.header__line {
  margin-top: 41px;
  border: 1px solid rgba(84, 84, 84, 0.6);
}

@media (max-width: 880px) {
  .header {
  }
}

@media (max-width: 880px) {
  .header {
    padding: 45px 0;
    margin: 0 auto;
  }
}

@media (max-width: 320px) {
  .header {
    max-width: 100%;
    padding: 0;
    box-sizing: border-box;
  }

  .header__vector {
    margin: 28px auto 32px;
    width: 126px;
    padding-left: 27px;
  }

  .header__line {
    max-width: 100%;
    margin: 0 auto;
  }
}
