.page {
  background-color: black;
  font-family: "Inter", Arial, sans-serif;
}

@media screen and (max-width: 880px) {
  .page {
    max-width: 880px;
    margin: 0 auto;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 320px) {
  .page {
    max-width: 320px;
    width: 100%;
  }
}
