.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup_opened {
  display: flex;
  opacity: 1;
}

.popup__content {
  position: relative;
  background-color: white;
  max-width: 430px;
  min-height: 330px;
  width: 100%;
  border-radius: 10px;
  box-sizing: border-box;
}

.popup__close-icon {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -39px;
  right: -37px;
}

.popup__close-icon:hover {
  cursor: pointer;
  opacity: 0.6;
}

.form {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

.popup__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  padding: 34px 64px 54px 36px;
  margin: 0;
}

.form__field {
}

.popup__input {
  border: none;
  margin: 0 36px 13px 36px;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #000;
}

.popup__input:focus {
  background-color: white;
  width: 358px;
  height: 27px;
}

.popup__line {
  margin: 0 36px 29px 36px;
  max-width: 358px;
}

.popup__submit-button {
  max-width: 358px;
  height: 50px;
  background-color: #000000;
  color: #ffffff;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  padding: 0;
  margin: 19px 36px 36px 36px;
}

.popup__submit-button:hover {
  cursor: pointer;
  opacity: 0.6;
  transition: background-color 0.3s ease;
}

@media (max-width: 320px) {
  .form__content {
    margin-left: 19px;
    margin-right: 19px;
  }
  .form {
  }

  .form__title {
    font-size: 18px;
    padding: 25px 22px 76px 22px;
  }

  .field__line {
    margin: 9px 22px 30px 22px;
  }

  .form__submit-button {
    margin: 22px 0;
    max-width: 100%;
    height: 46px;
  }

  .popup__close-icon {
    right: 0;
  }
}
