.profile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 880px;
  color: #fff;
  margin: 62px 0 0;
  padding-left: 200px;
}

.profile__avatar-image {
  width: 120px;
  height: 120px;
  color: #c4c4c4;
}

.profile__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 415px;
  align-items: center;
  margin-left: 30px;
}

.profile__name {
  font-size: 42px;
  line-height: 42px;
  color: #ffffff;
  margin: 0;
  font-weight: 500;
}

.profile__info-edit-button {
  background-color: black;
  margin-left: 18px;
  border: 2px solid #ffffff;
}

.profile__info-edit-button-vector {
  width: 10px;
  height: 10px;
}

.profile__info-function {
  color: #ffffff;
  margin: 16px 0 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.profile__add-button {
  background-color: black;
  width: 150px;
  height: 50px;
  margin-left: 165px;
  padding: 0;
  border: 2px solid #ffffff;
}

.profile__add-button-vector {
}

@media (max-width: 320px) {
  .profile {
    max-width: 100%;
    padding: 0 16px;
    flex-direction: column;
    margin: 0;
    justify-content: center;
  }

  .profile__avatar-image {
    margin: 38px 73px 26px 77px;
  }

  .profile__info {
    justify-content: center;
    margin: 0;
  }

  .profile__name {
    font-size: 22px;
  }

  .profile__info-function {
    margin-top: 14px;
  }

  .profile__add-button {
    width: 282px;
    height: 50px;
    margin: 36px auto;
  }
}
