.profile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 880px;
  color: #fff;
  margin: 62px 0 0;
  margin: 0 auto;
}

.profile__avatar-image {
  width: 120px;
  height: 120px;
  color: #c4c4c4;
}

.profile__info {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 415px;
  align-items: center;
  margin: 0 auto;
  margin-left: 30px;
}

.profile__name {
  font-size: 42px;
  line-height: 42px;
  color: #ffffff;
  margin: 0;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.profile__name-button {
  display: flex;
}

.profile__info-edit-button {
  background-color: black;
  margin-left: 18px;
  border: 2px solid #ffffff;
  height: 24px;
}

.profile__info-edit-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.profile__info-edit-button-vector {
  width: 10px;
  height: 10px;
}

.profile__info-function {
  color: #ffffff;
  margin: 16px 0 0 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.profile__add-button {
  background-color: black;
  width: 150px;
  height: 50px;

  padding: 0;
  border: 2px solid #ffffff;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.profile__add-button-vector {
}

@media (max-width: 960px) {
  .profile__name {
    font-size: 32px;
  }
}

@media (max-width: 880px) {
  .profile {
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
    align-items: center;
    margin: auto;
  }

  .profile__info {
    margin: 30px 0 auto;
  }

  .profile__add-button {
    margin-top: 36px;
  }
}

@media (max-width: 380px) {
  .profile {
    max-width: 100%;
    padding: 0 16px;
    flex-direction: column;
    margin: 0;
  }

  .profile__avatar-image {
    margin: 38px 73px 26px 77px;
  }

  .profile__info {
    justify-content: center;
    margin: 0 auto;
  }

  .profile__name {
    font-size: 22px;
    max-width: 300px;
  }

  .profile__info-function {
    margin-top: 14px;
  }

  .profile__add-button {
    width: 100%;
    height: 50px;
    margin: 36px auto;
  }
}
